:root {
    --background: #011212;
    --colore-sfera: #ff8800;
    --sfera: 50px;
    --dimensione: 100px;
}

body {
    background-color: var(--background);
}

.ball {
    width: var(--dimensione);
    height: var(--dimensione);
    background-color: var(--colore-sfera);
    border-radius: var(--sfera);
}

